* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mother-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
  margin: 10rem auto auto;
  box-shadow: 0 0.25rem 0.85rem 0.125rem rgba(0, 0, 0, 0.15);
  border-radius: 0.3rem;
  gap: 0;
  align-items: center;
  text-align: left;
  min-height: 50%;
  background-color: rgb(111, 222, 247);
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px rgb(212, 211, 210);
  list-style: none;
  height: 100%;
}

.main-container li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 16%;
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 0;
}

.main-container li input[type="text"] {
  height: 100%;
  border: #fff;
  font-size: 18px;
}

.main-container li input[type="text"]:focus {
  border: #fff;
  outline: none;
}

.main-container li input[type="checkbox"] {
  margin: 0 5px;
  outline: none;
  content: none;
  box-shadow: 0 0 0 1px rgb(228, 227, 227);
}

.form-input i {
  rotate: 90deg;
}

.main-container li i {
  color: rgb(128, 135, 135);
  cursor: pointer;
}

.overlined {
  text-decoration: line-through;
}

.title {
  margin: 0 1vw 2vw 0;
  padding-bottom: 2vw;
}

.title > h4 {
  margin: 2vw 1vw;
  font-size: 22px;
}

#input-user {
  border: none;
  width: 300px;
  margin: 10px;
  padding: 10px 0;
  font-style: italic;
  padding-left: 10px;
}

#addtodotasks {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.add li {
  height: 16%;
}

.active {
  background-color: #fffeca;
}

.fa-trash-can {
  display: none;
}

.active .fa-trash-can {
  display: inline;
}

.active .fa-ellipsis-vertical {
  display: none;
}

.paragraph {
  display: flex;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 5% 0;
  align-items: center;
}

#btn-li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

button {
  margin: 20px 90px;
  background-color: blue;
  cursor: pointer;
  padding: 20px 30px;
  box-shadow: 10px 5px 5px rgb(77, 73, 73);
}

button:hover {
  background: goldenrod;
  transition: 0.7s;
}

.main-container li button {
  width: 100%;
  height: 100%;
  border: none;
  color: white;
  font-weight: 600;
}

.button:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #5a01a7;
}

.button:active {
  background-color: green;
}

.fa-turn-down:hover {
  cursor: pointer;
}
